<h1>Productos</h1>
<div>
{{#if array1}}
<table>
    <thead>
        <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each array1}}
            <tr>
                <th>{{ id }}</th>
                <td>{{ title }}</td>
                <td>{{ price }}</td>
                <td><img src="{{ url }}"></td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <h3> No hay productos en el sistema. </h3>
{{/if}}
</div>